.v-tb {
  vertical-align: text-bottom;
}
.mb-20 {
  margin-bottom: 20px;
}
.card {
  height: 100%;
  border: none;
  .card-body {
    position: relative;
    .card-title {
      color: #1e49e2;
      padding-right: 30px;
      font-size: 18px;
      margin: 0;
      span {
        color: #0c233c;
        font-size: 14px;
      }
    }
    i {
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 3px;
      line-height: 1;
      color: red;
    }
  }
}
.flag-img {
  object-fit: fill;
  height: 150px;
}
// .list-group-flush > .list-group-item {
//   border-width: 0;
//   padding: 0.3rem 1rem;
//   font-size: 14px;
//   color: #0c233c;
// }
